.App {
  background-color: #EDEDED;
}

/* Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
  .sub-nav, .deck-sub-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .deck-sub-nav .search-container .image {
    left: 95%;
  }
  
  #header-title {
      display: none;
  }

  .grid {
    width: 100%;
}
.card {
    height: 282px;
    width: 100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
}  
} 

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
  .sub-nav, .deck-sub-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .deck-sub-nav .search-container .image {
    left: 95%;
  }

  #header-title {
      display: none;
  }

  .grid {
    width: 100%;
}
.card {
    height: 282px;
    width: 100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
}  
} 

/* Medium devices (landscape tablets, 768px and up)*/ 
@media only screen and (min-width: 768px) {
 .sub-nav, .deck-sub-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .deck-sub-nav .search-container .image {
    left: 95%;
  }

  #header-title {    
    display: block;
}  

.grid { 
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat( auto-fit, minmax(250px, auto) );

}
.card {
  height: 282px;
  width: 100%;
  margin-bottom: 0px;
} 
} 

/* Large devices (laptops/desktops, 992px and up)*/ 
@media only screen and (min-width: 992px) {
  .sub-nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .deck-sub-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .deck-sub-nav .input {
    width: 100%
  }

  .deck-sub-nav .search-container {
    width: 50%;
  }

  .deck-sub-nav .search-container .image {
    left: 95%;
  }

  #header-title {    
      display: initial;
  }  
} 

/*Buttons*/
#user-name-button {
  height: 32px;
  min-width: 40px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #B8B8B8;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-title {
  font-size: 14px;
  }

.button-image {
  margin-right: 8px;
}

#app-header-button {
  width: 112px;
  height: 32px;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------Header--------------*/
#header-title {
  color: #969696;
  font-style: normal;
  font-weight: normal;   
  font-size: 18px;
}

/*-------------Breadcrumbs---------------*/
.breadcrumb {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*-----------Search------------------*/
.search-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.input {
  width: 100%;
  height: 32px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: none;
  border: 0;
  padding-left: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #B8B8B8;
}

.image {
  position: absolute;
  height:32px;
  display: flex;
  left: 90%;
  align-items: center;
}

/*---------- Sub Nav---------------*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*---------- Cards -----------*/
.card {
  height: 282px;
  width: 100%;
  border-radius: 8px;
  background-color: #FFFFFF;
}  

.card-header {
  background-color: #969696;
  height: 90px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 18.5px;
  padding-top: 16.5px;
}

.card-content {
  background-color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -8px;
  margin-bottom: -16px;
}

.card-name {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #FFFF;
  margin-top: 32.5px;
}

.card-content-row {
  background-color: #EDEDED;
  height: 32px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.card-content-row p {
  font-size: 10px;
}

.content-header p {
  font-size: 14px;
}

#card-hr {
  background: #D4D4D4;
  border-radius: 2px;
  height: 2px;
  border: 0;
  box-shadow: none;
  margin-bottom: 16px;
}

.card-icon-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-icon-group p {
  color: #757575;
  margin-left: 4.5px;
}

.card-icon-group-header p {
  font-size: 14px;
  color: #757575;
}

.card-icon-group-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-content-row p,.content-header p {
  color: #3B3B3B;
}
