.App {
  background-color: #EDEDED;
  min-height: 100vh;
}
.row {
  width: 100%;
}
/* Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
  .sub-nav, .deck-sub-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .deck-sub-nav .search-container .image {
    left: 0%;
  }
  
  #header-title {
      display: none;
  }

  .grid {
    width: 100%;
}
.card {
    min-height: 282px;
    width: 100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
    padding-bottom: 10px;
}  
} 

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
  .sub-nav, .deck-sub-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .deck-sub-nav .search-container .image {
    left: 0%;
  }

  #header-title {
      display: none;
  }

  .grid {
    width: 100%;
}
.card {
    min-height: 282px;
    width: 100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
    padding-bottom: 10px;
}  
} 

/* Medium devices (landscape tablets, 768px and up)*/ 
@media only screen and (min-width: 768px) {
 .sub-nav, .deck-sub-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .deck-sub-nav .search-container .image {
    left: 0%;
  }

  #header-title {    
    display: block;
}  

.grid { 
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat( auto-fit, minmax(250px, auto) );

}
.card {
  min-height: 282px;
  width: 100%;
  margin-bottom: 0px;
} 
} 

.card-grid {
  padding: 2rem 0;
}

/* Large devices (laptops/desktops, 992px and up)*/ 
@media only screen and (min-width: 992px) {
  .sub-nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;

    width: 584px;
    height: 32px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 24px;
  }

  .deck-sub-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .deck-sub-nav .input {
    width: 100%
  }

  .deck-sub-nav .search-container {
    width: 50%;
  }

  .deck-sub-nav .search-container .image {
    left: 0%;
  }

  #header-title {    
      display: initial;
  }  
} 

.icon-btn {
  height: 32px;
  min-width: 40px;
  border-radius: 4px;
  background: transparent;
  /* #B8B8B8 */
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  transition: ease-in 0.25s;
}

.icon-btn:hover {
  filter: invert(0.7);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.25s;
}

/*Buttons*/
#user-name-button {
  height: 32px;
  min-width: 40px;
  border-radius: 4px;
  background: transparent;
  /* #B8B8B8 */
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-title {
  font-size: 14px;
  }

.button-image {
  margin-right: 8px;
}

#app-header-button {
  width: 112px;
  height: 32px;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------Header--------------*/
#header-title {
  color: #969696;
  font-style: normal;
  font-weight: normal;   
  font-size: 18px;
}

/*-------------Breadcrumbs---------------*/
.breadcrumb {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*-----------Search------------------*/
.search-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.input {
  width: 100%;
  height: 30px;
  background: #FFFFFF;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: none;
  border: 0;
  padding-left: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #B8B8B8;
}

.image {
  position: relative;
  height:32px;
  width: 32px;
  display: flex;
  background-color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
}

/*---------- Sub Nav---------------*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*---------- Cards -----------*/
.card {
  min-height: 282px;
  width: 100%;
  border-radius: 8px;
  background-color: #FFFFFF;
}  

.card-header {
  background-color: #969696;
  height: 90px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 18.5px;
  padding-top: 16.5px;
}

.card-content {
  background-color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;
}

.deck-card-content {
  background-color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  padding-top: 16px;
}
.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -8px;
  margin-bottom: -16px;
}

.card-name {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #FFFF;
  margin-top: 32.5px;
}

.card-content-row {
  background-color: #EDEDED;
  height: 32px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.card-content-row p {
  font-size: 10px;
}

.content-header p {
  font-size: 14px;
}

#card-hr {
  background: #D4D4D4;
  border-radius: 2px;
  height: 2px;
  border: 0;
  box-shadow: none;
  margin-bottom: 16px;
}

.card-icon-group {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.card-icon-group p {
  color: #757575;
  margin-left: 4.5px;
}

.card-icon-group-header p {
  font-size: 14px;
  color: #757575;
}

.card-icon-group-header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.card-content-row p,.content-header p {
  color: #3B3B3B;
}

.dialog-box {
  box-sizing: border-box;
  width: 256px;
  background: #FFFFFF;
  border: 1px solid #B8B8B8;
  box-shadow: 0px 19px 25px rgba(0, 0, 0, 0.14944), 0px 1.26352px 1.66253px rgba(0, 0, 0, 0.37);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 10px 10px;
}

.deck-input-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3B3B3B;
}

.deck-input-label {
  width: 42px;
  height: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: #969696;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: block;
}

.deck-input {
  width: 85px;
  height: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3B3B3B;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.deck-card {
  min-width: 216px;
  height: 180px;
  background: #FFFFFF;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  margin-bottom: 2rem;
}

.deck-card-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.deck-card-header {
  height: 80px;
  position: relative;
}

.card-rebel {
  background: #C53030;
}

.card-empire {
  background: #3B3B3B;
}
.card-jedi {
  background: #2F855A;
}

.deck-card-number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 40px;
  color: #3B3B3B;
}

.deck-card-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  color: #969696;
}

a { 
  text-decoration: none;
}

.deck-card-symbol {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  opacity: 0.5;
}

.card-control {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

.card-pin {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.dialog-box.deck-selector {
  background: #EDEDED;
  /*linear-gradient(180deg, rgba(237, 237, 237, 0) 0%, #EDEDED 100%);*/
  height: unset;
  max-height: 300px;
  display: flex;
  justify-content: center;
}


.dialog-box .deck-option {
  display: flex;
  flex-direction: row;
  align-items: cneter;
  padding: 6px 8px;
  gap: 10px;
  background: #FFFFFF;
  border-radius: 2px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 0px;
  text-align: left;
}

.dialog-box .deck-option-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0.2rem;
  color: #3B3B3B;
}


.dialog-box .deck-option:hover {
  cursor: pointer;
  background-color: gray;
  transition: ease-in 0.25s;
}

.card-sex {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  text-align: center;

  /* default/neutral-gray/800 */

  color: #3B3B3B;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
}

.popover-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */


  /* default/neutral-gray/500 */

  color: #969696;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

